/* осн колір тексту #757575 */
/* другорядний колір тексту #212121 */
/* акцент #2196F3 */

/* хедер */

/* logo #000000, #2196F3 */
/* посилання на сторінки #212121   і #2196F3  */

/* пошта і телефон   #757575 і #2196F3  */

/* main */

/* hero #FFFFFF */
/* button #2196F3 , text #FFFFFF */

/* section  */
/* h #212121 */
/* p #757575 */

/* футер */
/* logo #FFFFFF, #2196F3 */
/* фізичний адрес футер   #FFFFFF */
/* адрес футер  rgba(255, 255, 255, 0.6) */

/* колір фону #F5F5F5 */
/* другорядний колір фону  #F5F4FA */
/* колір хедера  #FFFFFF */
/* колір футера  #2F303A */

/* portfolio */

/* button active #2196F3, #FFFFFF */
/* button noactive #F5F4FA, #212121 */

/* section  */
/* h #212121 */
/* p #757575 */

:root {
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--accent-color: #2196f3;
	--logo-color: #000000;
	--primary-bg-color: #f5f5f5;
	--secondary-bg-color: #f5f4fa;
	--header-color: #ffffff;
	--footer-color: #2f303a;
	--link-color: rgba(255, 255, 255, 0.6);
}
body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
}

.logo {
	color: var(--accent-color);
}
.logo-head {
	color: var(--logo-color);
}
.logo-foot {
	color: var(--header-color);
}

ul {
	list-style: none;
}

/* header */

header {
	background-color: var(--header-color);
}

.site-nav .link {
	color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.info-nav .link {
	color: var(--primary-text-color);
}

.info-nav .link:hover,
.info-nav .link:focus {
	color: var(--accent-color);
}
